header {
        position: fixed;
        top:0;
        right: 0;
        z-index: 10;
      }
ul {
    /*margin: 30px auto;*/
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;

  }
li {
    flex: 1 1 auto;
    display: inline-block;
    color: #17a4a9;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    padding: 8px;
  }

li:hover {

  }
li:not(.space):not(.contact){
  padding-left: 40px;
}

li:not(.space):not(.contact)::after {
  display:block;
  content: '';
  border-bottom: solid 2px #17a4a9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

li:not(.space):hover::after {
  transform: scaleX(0.90);
}

.contact {

  background-image: linear-gradient(-133deg,#17a4a9,#1bb3b8);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 15px;
  border-radius: 4px;
  padding: 8px 12px;
  color: #FFFF;
  /* color: #DBE9EE;
  background: #00B7C9;
  border-radius: 15px;
  padding: 8px 1px; */
  width: auto;
  height: auto;
  /*transition: box-shadow 0.1s ease-in-out;*/
        }
.contact:hover {
  /*box-shadow: 0 0px 25px 0 rgba(0, 183, 201,.6);*/
        }

.space {
  padding: 0 30px;
}
